<%- include('partials/header') %>
    <main class="content">
        <section class="segment">
            <article class="detail">
                <header class="detail-header">
                    <div class="detail-intro">
                        <h1 class="detail-title">
                            <%= website.title %> au Pilori !
                        </h1>
                    </div>
                </header>
                <ul class="detail-list">
                    <!-- si l'utilisateur a renseigné le champ niveau et donc qu'n a le niveau, on l'affiche, sinon on ne l'affiche pas. Idem pour le champs device et description-->
                    <% if(website.level) {%>
                        <li><span class="detail-label">Type</span> : <%= website.level %></li>
                        <% } %>
                    <% if(website.device) {%>
                        <li><span class="detail-label">Support</span> : <%= website.device %></li>
                    <% } %>
                </ul>
                <% if(website.description) {%>
                    <p class="detail-content"><%= website.description %></p>
                <% } %>
                <footer class="detail-actions">
                    <a class="btn" href="<%= website.address %>" target="_blank">Voir le dysfonctionnement</a>
                </footer>
            </article>
            <footer class="segment-actions">
                <a href="/tomates" class="btn">
                    Retour à la liste
                </a>
            </footer>
        </section>
    </main>
    <%- include('partials/footer') %>